# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]


# Installer logs
pip-log.txt
pip-delete-this-directory.txt



# pycharm
.idea/

# textmate
.tm_properties

# local settings
settings_local.py

# tex/minted
_minted*
TSWLatexianTemp*
*.aux
*.log
*.out
*.vrb
*.listing
.tex
