# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]


# Installer logs
pip-log.txt
pip-delete-this-directory.txt



# pycharm
.idea/

# local settings
settings_local.py

# tex/minted
_minted*
TSWLatexianTemp*
